.wish-item {
  padding: 5px 2px 6px;
  color: var(--text-color);
}

.wish-item:not(:last-child) {
  border-bottom: 3px dotted var(--divisor-color);
}

.wish-item > label {
  position: relative;
}

.wish-item > label::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  height: 3px;
  width: 0;
  background-color: var(--line-through-color);
  transition: 0.2s;
}

.wish-item > input[type='checkbox']:checked + label::before {
  width: 100%;
}
