.wish-container {
  max-width: 400px;
  min-height: 400px;
  margin: 20px auto;
  padding: 10px;
  background-color: var(--background-color);
  border-radius: 10px;
  box-sizing: border-box;
}

.wish-container > h3 {
  color: var(--primary-color);
  text-align: center;
}
